.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: rgb(180, 180, 180);
  color: rgba(255,19,68,255);
}
